@import "tailwindcss";

:root {
  --background: #000000;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
